
    <%-include('partials/head.ejs', {stylesheet: '/home.css'})%>
  <body>
    <%-include('partials/navBar.ejs')%>
    <div class="container">
      <div class="row">
        <div class="col" id="mainCol1">
          <h1>Hello there birdwatcher!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col" id="mainCol2">
          <div>XXX</div>
          <!-- <form>
            <select name="sortBy" label="sort" class="selectForm">
              <option value="ascending" id="ascending">ascending</option>
              <option value="descending" id="descending">descending</option>
            </select>
            <input
              type="submit"
              value="Submit"
              role="button"
              class="btn btn-sm btn-info"
            />
          </form> -->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h2>Sighting List:</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-3">Date</div>
            <div class="col-3">Flock Size</div>
            <div class="col-3">Flock Size</div>
          </div>
          <div class="row">
            <div class="col" id="mainCol4">
              <%tableContents.forEach(element => {%>
              <div class="row mainCol4SubRow">
                <div class="col mainCol4SubCol">
                  <a href="/note/<%=element.id%>"
                    ><%=element.date%></a
                  >
                </div>
                <div class="col col mainCol4SubCol">
                  <a href="#"><%=element.flock_size%></a>
                </div>
                <div class="col col mainCol4SubCol"><%#=element.city%></div>
                <div class="col col mainCol4SubCol">
                  <form action="/<%= element.id%>/delete?_method=DELETE"
                    method="POST"
                  >
                    <input
                      class="btn btn-sm btn-outline-danger"
                      type="submit"
                      value="Delete"
                    />
                  </form>
                </div>
              </div>
              <%}); %>
            </div>
          </div>
        </div>
      </div>
    </div>
<%-include('partials/footer.ejs')%>
    
  </body>
</html>
